<html>
<head>
    <title>login page</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    form{
        margin-top: 80px;
        padding: 10px;
    }
</style>
<body>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <center>
<h1>Login Page</h1>
    </center>
            <form method="post" style="border: 2px solid black">
                {% csrf_token %}
                {{ lform.as_p }}
                <center>
                <input type="submit" value="submit" class="btn-danger">
                <input type="reset" value="clear" class="btn-success"><br>
                <a href="/reg/"><input type="button" value="signup"></a>

                <a href="/forgotpassword/">forgot password</a>
                    </center>
            </form>
        </div>
    </div>
</div>

</body>
</html>