<html>
<head>
    <title>All data</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<body>
<a href="/#/"><input type="submit" value="logout"></a>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            {% if data %}
                 {% for i in data %}
                     {{ i.name }}
                     {{ i.service_name }}
                     {{ i.gender }}
                     {{ i.mobile }}
                     {{ i.shop_address }}<br>
                 {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>